
  header
    height: 300px
    padding: 20px
    background-image:  linear-gradient(305deg, #dbfff3, transparent)
    display: flex
    flex-direction: column
    justify-content: space-between

    h1
        width: 60%
        font-size: 40px
        text-transform: uppercase

    .topNav
      display: flex
      justify-content: space-between
      align-content: center
      
      ul
        display: flex
        text-decoration: none
        list-style: none
        gap: 15px
        li
          font-weight: 600
          font-size: 16px